.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    & .subtitle {
      margin-bottom: 0;
    }
  }
  &__images {
    display: none;
    @include min-tablet {
      display: block;
    }
  }

  &__title {
    max-width: 306px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
  &__text {
    font-size: 16px;
    line-height: 1.6;
  }
  &__sub-text {
    font-size: 14px;
    line-height: 1.6;
  }
}
