.header {
  position: relative;
  height: 580px;
  color: #fff;
  background-image: url('../images/slider-3.jpg');
  background-size: cover;
  padding-top: 40px;
  &__subtitle {
    color: $textColorInherit;
    letter-spacing: 0.09em;
    margin-bottom: 0;
  }
  &__main {
    width: 322px;
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    &-text {
      color: $textColor;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }
    &-title {
      font-weight: 700;
      font-size: 48px;
    }
  }

  &__mobile-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    &:hover {
      scale: 1.1;
    }
    &-icon {
      width: 35px;
      height: 35px;
      fill: #fff;
    }
  }
  &__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    fill: black;
    &-mobile {
      fill: #fff;
    }
  }

  @include min-mobile {
    background-position: 50% center;
  }
  @include min-tablet {
    height: 680px;
  }
}
