.container {
  padding: 84px 10px;
  margin: 0 auto;
  width: 100%;

  @include min-mobile {
    padding-left: 31px;
    padding-right: 31px;
    width: 480px;
  }
  @include min-tablet {
    width: 768px;
  }
  @include min-desktop {
    width: 1200px;
  }
}

.header.container,
.footer.container {
  padding-top: 42px;
  padding-bottom: 42px;
}

.mobile {
  max-width: 375px;
}

.border {
  outline: 1px solid tomato;
}

.section-line {
  display: block;
  height: 1px;
  width: 60px;
  border-radius: 30px;
  background-color: $mainColor;
  &--light {
    background-color: $textColorInherit;
  }
}

.btn {
  display: block;
  text-align: center;
  padding: 12px 20px;
  max-width: 160px;
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.06em;
  border-radius: 25px;
  background-color: inherit;
  text-transform: uppercase;
  border: 1px solid $subColor;
  color: #000;
  cursor: pointer;
  &--light {
    color: #fff;
  }
  &:hover {
    background-color: $subColor;
    color: #fff;
  }
}
